@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
<div class="page home-page">
    <div class="page-body">
        <div class="imgRotate">
            <img src="~/Themes/BH/Content/images/client/carousel/GOGOChevron.jpg" />
        </div>
        <div class="imgLand">
            <img src="~/Themes/BH/Content/images/client/home/Home_SG.png" />
            <img src="~/Themes/BH/Content/images/client/home/Home_SQ.png" />
            <img src="~/Themes/BH/Content/images/client/home/Home_PG.png" />
            <img src="~/Themes/BH/Content/images/client/home/Home_Sale.png" />
        </div>
        @*@Html.Widget("home_page_top")
        @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
        @Html.Action("HomepageCategories", "Catalog")
        @Html.Action("HomepageProducts", "Catalog")
        @Html.Action("HomepageBestSellers", "Catalog")
        @Html.Action("HomePageNews", "News")
        @Html.Action("HomePagePolls", "Poll")
        @Html.Widget("home_page_bottom")*@
    </div>
</div>
