@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}

<script src="~/Scripts/jquery.bxslider/jquery.bxslider.js"></script>
<link rel="stylesheet" type="text/css" href="~/Scripts/jquery.bxslider/jquery.bxslider.css">


<script type="text/javascript">
    $(document).ready(function () {
        $('.bxslider').bxSlider(
            {
                auto: true,
                pause: 6000,
                speed: 500,
                randomStart: true,
                controls: false
            });
    });
</script>

<div class="page home-page">

    <div class="page-body">
        <ul class="bxslider">
            <li><a href="~/sippi-grips/"><img src="~/Themes/BH/Content/images/client/carousel/GOGOChevron.jpg" /></a></li>
            <li><a href="~/pacigrip/"><img src="~/Themes/BH/Content/images/client/carousel/Home_PaciGrip.png" /></a></li>
            <li><a href="~/squeeze-ems/"><img src="~/Themes/BH/Content/images/client/carousel/Home_SqueezEms.png" /></a></li>
            <li><a href="~/pack-ems/"><img src="~/Themes/BH/Content/images/client/carousel/Home_PackEms.png" /></a></li>
        </ul>
        <div class="imgLand">
            <a href="~/sippi-grips/"><span class="limg1"></span></a>
            <a href="~/squeeze-ems/"><span class="limg2"></span></a>
            <a href="~/pacigrip/"><span class="limg3"></span></a>
            <a class="limg4" href="~/specials/"><img src="~/Themes/BH/Content/images/client/home/Home_Sale.png" /></a>
        </div>
        @*@Html.Widget("home_page_top")
            @Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
            @Html.Action("HomepageCategories", "Catalog")
            @Html.Action("HomepageProducts", "Catalog")
            @Html.Action("HomepageBestSellers", "Catalog")
            @Html.Action("HomePageNews", "News")
            @Html.Action("HomePagePolls", "Poll")
            @Html.Widget("home_page_bottom")*@
    </div>
</div>
