@model FooterModel
@using Nop.Web.Models.Common;


<div class="footer">
    <span class="footLine"><img src="~/Themes/BH/Content/images/client/home/GreyStitch.png" /></span>

    <div class="footerUpper">
        <span class="socialLinks">
            <a href="https://www.facebook.com/BooginHead"><span class="facebook-roll" ></span></a>
            <a href="http://www.pinterest.com/booginhead/"><span class="pinterest-roll"></span></a>
            <a href="https://twitter.com/BooginHead"><span class="twitter-roll"></span></a>
        </span>
        <span class="footerLinks">
            <a href="@Url.RouteUrl("HomePage")">@*@T("Home")*@Home</a>
            ::
            <a href="~/Home/ProductCats">Products</a>
            ::
            <a href="~/common/storelocator/">Find a Store</a>
            ::
            <a href="~/BH_News">Press</a>
            ::
            <a href="~/blog/">Blog</a>
            ::
            <a href="~/about/index/">About</a>
            ::
            <a href="~/contactus/">Contact Us</a>
            ::
            <a href="~/cart/">View Cart</a>
        </span>
    </div>

    <div class="footerLower">
        <span class="footer-disclaimer">
            @T("Content.CopyrightNotice", DateTime.Now.Year.ToString(), Model.StoreName)
        </span>
        <span class="footer-poweredby">
            Powered by <a href="http://www.nopcommerce.com/">nopCommerce</a>
            @*Would you like to remove the "Powered by nopCommerce" link in the bottom of the footer?
                Find more info here http://www.nopcommerce.com/copyrightremoval.aspx*@
        </span>
    </div>
    <span class="footLine"><img src="~/Themes/BH/Content/images/client/home/GreyStitch.png" /></span>
    <div class="footer-store-theme">
        @Html.Action("StoreThemeSelector", "Common")
    </div>
    @Html.Action("ChangeDeviceBlock", "Common")
    @Html.Widget("footer")
</div>

