@{
    Layout = "";

    Html.AddScriptParts("~/Scripts/Custom/cyo/spectrum.js");
    Html.AddScriptParts("~/Scripts/fileuploader.js");
    Html.AddScriptParts("~/Scripts/Custom/cyo/cyo.js");

    Html.AddCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css");
    Html.AddCssFileParts("~/Content/Custom/cyo/spectrum.css");
    Html.AddCssFileParts("~/Content/fileuploader/fileuploader.css");
    Html.AddCssFileParts("~/Content/Custom/cyo/cyo.css");

    AjaxOptions ajaxOptions = new AjaxOptions();
    ajaxOptions.HttpMethod = "Post";
    ajaxOptions.OnComplete = "cyoProofOnComplete"; // callback is defined in cyo.js
}

    <div id="cyoLeftColumn">
  	    <div id="cyoSample">
            <img id="cyoBinkyLarge" src="~/Content/custom/cyo/images/shield_white.png"/>
            <div id="cyoOverlayStockImage" style="display:none;"><div class="cyoImgContainer"></div></div>
            <div id="cyoOverlayText1" style="display:none; font-family: 'ABeeZee';"><div id="cyoTextContent1"></div></div>
            <div id="cyoOverlayText2" style="display:none; font-family: 'ABeeZee';"><div id="cyoTextContent2"></div></div>
        </div>

        <div id="cyoGuidelines">
            <h2 class="cyo-h2">Design Guidelines</h2>
            <ul>
                <li>Accepted file types: jpg and png</li>
                <li>Resolution: 300dpi at final size</li>
                <li>File size not to exceed 10MB</li>
                <li>Dark backgrounds with light text are not recommended</li>
                <li>Please note: By law we are unable to reproduce any copyrighted materials. This includes, but is not limited to cartoon characters, logos of any type and photos.</li>
                <li>Due to the very quick turnaround times involved in our printing process, once you approve your proof(s) and pay for your order, you cannot submit new file(s) or make changes to the order.</li>
            </ul>
        </div>

        <div id="cyoRecentDesigns">
            @if(ViewBag.RecentDesigns != null) 
            {
                foreach (string proofUrl in ViewBag.RecentDesigns)
                {
                    <img src="@proofUrl" height="200" width="200" />
                }
            }
        </div>
    </div>

    <div id="cyoCustomizer">
        <h2 class="cyo-h2">Step 1: Choose A Brand</h2>

            <input type="radio" name="brand" id="brandBooginhead" value="booginhead" checked="checked">
            <label for="brandBooginhead">Booginhead</label>

            <input type="radio" name="brand" id="brandNuk" value="nuk">
            <label for="brandNuk">NUK</label>

        <h2 class="cyo-h2">Step 2: Choose A Color</h2>
        <section class="shields" id="binkiesBooginhead">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white_thumb.jpg" data-shield="white" data-large-image="@Url.Content("~/Content/custom/cyo/images/shield_white.png")">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_pink_thumb.jpg" data-shield="pink" data-large-image="@Url.Content("~/Content/custom/cyo/images/shield_pink.png")">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_blue_thumb.jpg" data-shield="blue" data-large-image="@Url.Content("~/Content/custom/cyo/images/shield_blue.png")">
        </section>
        <section class="shields" id="binkiesNuk">
            <img src="~/Content/custom/cyo/images/nuk_thumb.jpg" data-shield="white" data-large-image="@Url.Content("~/Content/custom/cyo/images/nuk.jpg")">
        </section>


        <h2 class="cyo-h2">Step 3: Choose A Size</h2>

            <input type="radio" name="size" id="p6" value="7plus" checked="checked">
            <label for="p6">6+ Months</label>

            <input type="radio" name="size" id="u6" value="0-6">
            <label for="u6">0-6 Months</label>


        <h2 class="cyo-h2">Step 4: Design Custom Pacifier</h2>

        <div id="cyoLaunchButtonContainer">
            <div class="cyoButtonContainer" id="cyoSelectBackgroundContainer">
                <button id="btnShowModalBackground">Select Background</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear background image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoUploadImageContainer">
                <button id="btnShowModalUpload">Upload Image</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear uploaded image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddGraphicContainer">
                <button id="btnShowModalGraphic">Add Graphic</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear graphic"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddTextContainer1">
                <button id="btnShowModalText1">Add Text Line 1</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick"  title="Clear text"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddTextContainer2">
                <button id="btnShowModalText2">Add Text Line 2</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick"  title="Clear text"></span>
            </div>
        </div>

        <div id="cyoModalBackground" title="Choose a solid color or background image">
            <input type="hidden" autofocus="autofocus" /> <!-- jQuery dialog autofocus fix -->
            <section style="width:30%;float:left;">
                <h3>Solid Color</h3>
                <input type="color" id="cyoBackgroundColorControl" name="cyoBackgroundColorControl">
            </section>
            <section class="chooser" style="width:60%;float:right;">
                <h3>Background Image</h3>
				<img src="~/Content/Custom/cyo/images/backgrounds/America_thumb.jpg" title="America">
                <img src="~/Content/Custom/cyo/images/backgrounds/BritishFlag_thumb.jpg" title="British Flag">
                <img src="~/Content/Custom/cyo/images/backgrounds/Blue_plaid_banner_thumb.jpg" title="Blue Plaid Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/Brown_Stars_thumb.jpg" title="Brown Stars">
                <img src="~/Content/Custom/cyo/images/backgrounds/Green_Star_Banner_thumb.jpg" title="Green Star Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/Houndstooth_Blue_thumb.jpg" title="Blue Houndstooth">
                <img src="~/Content/Custom/cyo/images/backgrounds/Houndstooth_Pink_thumb.jpg" title="Pink Houndstooth">
                <img src="~/Content/Custom/cyo/images/backgrounds/Pink_Dot_Banner_thumb.jpg" title="Pink Dot Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/Purple_Dot_Banner_thumb.jpg" title="Purple Dot Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/purple_plaid_thumb.jpg" title="Purple Plaid">
                <img src="~/Content/Custom/cyo/images/backgrounds/Burberry_Plaid_Banner_thumb.jpg" title="Burberry Plaid Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/pink_flower_thumb.jpg" title="Pink Flower">
                <img src="~/Content/Custom/cyo/images/backgrounds/Hearts_thumb.jpg" title="Hearts">
                <img src="~/Content/Custom/cyo/images/backgrounds/big_dots_thumb.jpg" title="Big Dots">
                <img src="~/Content/Custom/cyo/images/backgrounds/Flower_thumb.jpg" title="Flower">
                <img src="~/Content/Custom/cyo/images/backgrounds/giraffe_thumb.jpg" title="Giraffe">
                <img src="~/Content/Custom/cyo/images/backgrounds/zebra_thumb.jpg" title="Zebra">
                <img src="~/Content/Custom/cyo/images/backgrounds/Swirls_thumb.jpg" title="Swirls">
                <img src="~/Content/Custom/cyo/images/backgrounds/Bee_boy_thumb.jpg" title="Boy Bee">
                <img src="~/Content/Custom/cyo/images/backgrounds/bee_girl_thumb.jpg" title="Girl Bee">
                <img src="~/Content/Custom/cyo/images/backgrounds/peppermint_thumb.jpg" title="Peppermint">
                <img src="~/Content/Custom/cyo/images/backgrounds/pink-peppermint_thumb.jpg" title="Pink Peppermint">
                <img src="~/Content/Custom/cyo/images/backgrounds/Fa_La_La_thumb.jpg" title="Fa La La">
                <img src="~/Content/Custom/cyo/images/backgrounds/Merry_X_mas_Red_thumb.jpg" title="Merry Xmas Red">
                <img src="~/Content/Custom/cyo/images/backgrounds/snowflakes_thumb.jpg" title="Snowflakes">
                <img src="~/Content/Custom/cyo/images/backgrounds/snowman_thumb.jpg" title="Snowman">
                <img src="~/Content/Custom/cyo/images/backgrounds/new_year_thumb.jpg" title="New Year">
                <img src="~/Content/Custom/cyo/images/backgrounds/art_hearts_thumb.jpg" title="Art Hearts">
                <img src="~/Content/Custom/cyo/images/backgrounds/heart_banner_thumb.jpg" title="Heart Banner">
                <img src="~/Content/Custom/cyo/images/backgrounds/LOVE_thumb.jpg" title="Love">
            </section>
        </div>

        <div id="cyoModalUpload" title="Upload Image">
        <p>Choose a photo or graphic from your computer</p>
            <input id="cyoUploadFile" name="cyoUploadFile" type="hidden" />
            <div id="cyoUploader"></div>
            <div id="cyoUploadedImageDiv" style="display:none;" title="Click to add this image to your design">
                <img id="cyoUploadedImageThumbnail" src="" />
            </div>

            <label>Image Zoom</label>
            <div id="uploadSizeSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
            </div>

            <div style="display:none"
                id="cyoUploadControlSettings"
                data-preview-url="@(Url.RouteUrl(new { controller = "CYO", action = "GetFileUpload", fileName = Guid.Empty }))"
                data-form-action="@(Url.RouteUrl(new { controller = "CYO", action = "UploadFile" }))"
                data-upload-string="@T("Common.FileUploader.Upload")"
                data-drop-string="@T("Common.FileUploader.DropFiles")"
                data-cancel-string="@T("Common.FileUploader.Cancel")"
                data-failed-string="@T("Common.FileUploader.Failed")"></div>

        </div>

        <div id="cyoModalText" title="Enter Text">
            <div class="control">
                <label>Text</label>
                <input type="text" id="cyoCustomText" name="cyoCustomText" value="">
            </div>

            <div class="control control-color">
                <label for="cyoTextColor">Color</label>
                <input type="color" id="cyoTextColor" name="cyoTextColor">
            </div>

            <div class="control">
                <label>Font-Size</label>
                <div id="font-size-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30.23255813953488%;"></a>
                </div>
            </div>

            <div class="control">
                <label>Font</label>
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=ABeeZee:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Anton:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo+Black:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Autour+One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Berkshire+Swash:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bigelow+Rules:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Bonbon:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Candal:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Chicle:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Coda+Caption:800">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Comfortaa:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Electrolize:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Finger+Paint:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Fresca:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Frijole:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Homemade+Apple:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Leckerli+One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lily+Script+One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merienda:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Miss+Fajardose:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Peralta:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pinyon+Script:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Purple+Purse:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ranchers:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ruge+Boogie:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rum+Raisin:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Rye:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sofadi+One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium+Web:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=The+Girl+Next+Door:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ultra:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Varela+Round:400,700,400italic,700italic">

				<input type="hidden" id="cyoCustomFont" name="cyoCustomFont" />
                <ul id="cyoFontMenu">
                    <li style="font-family:'AbeeZee'" class="selected">ABeeZee</li>
                    <li style="font-family:'Allura'">Allura</li>
                    <li style="font-family:'Anton'">Anton</li>
                    <li style="font-family:'Archivo Black'">Archivo Black</li>
                    <li style="font-family:'Autour One'">Autour One</li>
                    <li style="font-family:'Berkshire Swash'">Berkshire Swash</li>
                    <li style="font-family:'Bigelow Rules'">Bigelow Rules</li>
                    <li style="font-family:'Bonbon'">Bonbon</li>
                    <li style="font-family:'Candal'">Candal</li>
                    <li style="font-family:'Chicle'">Chicle</li>
                    <li style="font-family:'Coda Caption'">Coda Caption</li>
                    <li style="font-family:'Comfortaa'">Comfortaa</li>
                    <li style="font-family:'Electrolize'">Electrolize</li>
                    <li style="font-family:'Finger Paint'">Finger Paint</li>
                    <li style="font-family:'Fresca'">Fresca</li>
                    <li style="font-family:'Frijole'">Frijole</li>
                    <li style="font-family:'Homemade Apple'">Homemade Apple</li>
                    <li style="font-family:'Leckerli One'">Leckerli One</li>
                    <li style="font-family:'Lily Script One'">Lily Script One</li>
                    <li style="font-family:'Merienda'">Merienda</li>
                    <li style="font-family:'Miss Fajardose'">Miss Fajardose</li>
                    <li style="font-family:'Peralta'">Peralta</li>
                    <li style="font-family:'Pinyon Script'">Pinyon Script</li>
                    <li style="font-family:'Purple Purse'">Purple Purse</li>
                    <li style="font-family:'Ranchers'">Ranchers</li>
                    <li style="font-family:'Roboto'">Roboto</li>
                    <li style="font-family:'Ruge Boogie'">Ruge Boogie</li>
                    <li style="font-family:'Rum Raisin'">Rum Raisin</li>
                    <li style="font-family:'Rye'">Rye</li>
                    <li style="font-family:'Shadows Into Light'">Shadows Into Light</li>
                    <li style="font-family:'Sofadi One'">Sofadi One</li>
                    <li style="font-family:'Titillium Web'">Titillium Web</li>
                    <li style="font-family:'The Girl Next Door'">The Girl Next Door</li>
                    <li style="font-family:'Ultra'">Ultra</li>
                    <li style="font-family:'Verela Round'">Verela Round</li>
                </ul>
            </div>

            <div class="cyoButtonContainer">
                <button id="btnCenterText">Center Text</button>
            </div>

        </div>

        <div id="cyoModalGraphic" title="Choose a graphic">
            <input type="hidden" autofocus="autofocus" /> <!-- jQuery dialog autofocus fix -->
            <section class="chooser">
                <img src="~/Content/Custom/cyo/images/graphics/cute_thumb.jpg" title="Cute">
                <img src="~/Content/Custom/cyo/images/graphics/mustache1_thumb.jpg" title="Mustache (1)" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/mustache2_thumb.jpg" title="Mustache (2)" data-fill-background="false">
                <img src="~/Content/custom/cyo/images/graphics/OwlBoy.png" width="80" title="Boy Owl" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/owl_girl_thumb.jpg" title="Girl Owl" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/skull_boy_thumb.jpg" title="Boy Skull" data-fill-background="false">
                <img src="~/Content/custom/cyo/images/graphics/SkullGirl.png" width="80" title="Girl Skull" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/1stBday_thumb.jpg" title="First Birthday" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/4thJuly_thumb.jpg" title="4th of July" data-fill-background="false">
                <img src="~/Content/custom/cyo/images/graphics/2030.jpg" width="80" title="Class of 2030" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/recycle_thumb.jpg" title="Recycle" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/female_thumb.jpg" title="Female" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/male_thumb.jpg" title="Male" data-fill-background="false">
                <img src="~/Content/custom/cyo/images/graphics/Ladybug.jpg" width="80" title="Ladybug" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/HappyHolidays_thumb.jpg" title="Happy Holidays" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/dreidal_thumb.jpg" title="Dreidal" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/Halloween_thumb.jpg" title="Halloween" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/Hanukkah_thumb.jpg" title="Hanukkah" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/Joy_thumb.jpg" title="Joy" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/MerryXmas_thumb.jpg" title="Merry Xmas" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/Thanksgiving_thumb.jpg" title="Thanksgiving" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/i_love_dad_thumb.jpg" title="I Love Dad" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/i_love_mom_thumb.jpg" title="I Love Mom" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/triheart_thumb.jpg" title="Tri Heart" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/dnd_thumb.jpg" title="DND" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/fragile_thumb.jpg" title="Fragile" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/heaven_sent_thumb.jpg" title="Heaven Sent" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/hi_thumb.jpg" title="Hi" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/icry_thumb.jpg" title="I Cry" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/im_a_boy_thumb.jpg" title="I'm a Boy" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/im_a_girl_thumb.jpg" title="I'm a Girl" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/just_chillin_thumb.jpg" title="Just Chillin" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/milk_junkie_thumb.jpg" title="Milk Junkie" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/mute_button_thumb.jpg" title="Mute Button" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/no_comment_thumb.jpg" title="No Comment" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/no_hablo_thumb.jpg" title="No Hablo" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/ptsa_thumb.jpg" title="PTSA" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/snooze_thumb.jpg" title="Snooze" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/taxdeduction_thumb.jpg" title="Tax Deduction" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/too_cute_thumb.jpg" title="Too Cute" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/volume_control_thumb.jpg" title="Volume Control" data-fill-background="false">
                <img src="~/Content/Custom/cyo/images/graphics/whine_connoisseur_thumb.jpg" title="Whine Connoisseur" data-fill-background="false">
            </section>
        </div>

        <div id="cyoModalProof" title="Your Custom Pacifier">
            <div id="cyoProofImageContainer"></div>
            <div id="cyoProofErrorMessage"></div>
            <p id="cyoDefaultProofMessage">This is what your pacifier will look like.</p>
        </div>

        <h2 class="cyo-h2">Step 6: Approve Instant Proof</h2>
        <p>Create your instant proof, and approve it to continue!</p>
        <button id="btn-create-proof">Create Proof</button> 

        <h2 class="cyo-h2">Step 7: Add to Cart!</h2>
        <div class="relative">
        <p class="noapproval">Once your "Instant Proof" is approved, you will be able to add your design to the cart!</p>
        <div class="info">
            <p>
                Price: <span class="price">$11.95</span><br>
            </p>
        </div>
        </div>

        @using (Ajax.BeginForm("CreateProof", "CYO", ajaxOptions))
        {
            <!-- Product Info -->
            <input type="hidden" name="cyoProductSize" id="cyoProductSize" value="7plus" />
            <input type="hidden" name="cyoProductColor" id="cyoProductColor" value="white" />
            <input type="hidden" name="cyoSampleImage" id="cyoSampleImage" value="@Url.Content("~/Content/custom/cyo/images/shield_white.png")" />
            <input type="hidden" name="cyoBrand" id="cyoBrand" value="booginhead" />

            <!-- Binky position and background -->
            <input type="hidden" name="cyoSampleTop" id="cyoSampleTop" value="" />
            <input type="hidden" name="cyoSampleLeft" id="cyoSampleLeft" value="" />
            <input type="hidden" name="cyoBgImage" id="cyoBgImage" value="" />
            <input type="hidden" name="cyoUploadedImage" id="cyoUploadedImage" value="" />
            <input type="hidden" name="cyoBgImageZoom" id="cyoBgImageZoom" value="100" />
            <input type="hidden" name="cyoBgImageOffsetX" id="cyoBgImageOffsetX" value="0" />
            <input type="hidden" name="cyoBgImageOffsetY" id="cyoBgImageOffsetY" value="0" />
            <input type="hidden" name="cyoBgColor" id="cyoBgColor" value="" />

            <!-- Text1 Overlay -->
            <input type="hidden" name="cyoText1" id="cyoText1" value="" />
            <input type="hidden" name="cyoFontFamily1" id="cyoFontFamily1" value="ABeeZee" />
            <input type="hidden" name="cyoFontColor1" id="cyoFontColor1" value="#777777" />
            <input type="hidden" name="cyoFontSize1" id="cyoFontSize1" value="53px" />
            <input type="hidden" name="cyoTextTop1" id="cyoTextTop1" value="" />
            <input type="hidden" name="cyoTextLeft1" id="cyoTextLeft1" value="" />
            <input type="hidden" name="cyoTextHeight1" id="cyoTextHeight1" value="" />
            <input type="hidden" name="cyoTextWidth1" id="cyoTextWidth1" value="" />

            <!-- Text2 Overlay -->
            <input type="hidden" name="cyoText2" id="cyoText2" value="" />
            <input type="hidden" name="cyoFontFamily2" id="cyoFontFamily2" value="ABeeZee" />
            <input type="hidden" name="cyoFontColor2" id="cyoFontColor2" value="#777777" />
            <input type="hidden" name="cyoFontSize2" id="cyoFontSize2" value="53px" />
            <input type="hidden" name="cyoTextTop2" id="cyoTextTop2" value="" />
            <input type="hidden" name="cyoTextLeft2" id="cyoTextLeft2" value="" />
            <input type="hidden" name="cyoTextHeight2" id="cyoTextHeight2" value="" />
            <input type="hidden" name="cyoTextWidth2" id="cyoTextWidth2" value="" />

            <!-- Graphic Overlay -->
            <input type="hidden" name="cyoGraphic" id="cyoGraphic" value="" />
            <input type="hidden" name="cyoGraphicIsBackground" id="cyoGraphicIsBackground" value="false" />
            <input type="hidden" name="cyoGraphicTop" id="cyoGraphicTop" value="" />
            <input type="hidden" name="cyoGraphicLeft" id="cyoGraphicLeft" value="" />
            <input type="hidden" name="cyoGraphicWidth" id="cyoGraphicWidth" value="" />
            <input type="hidden" name="cyoGraphicHeight" id="cyoGraphicHeight" value="" />
            <input type="hidden" name="cyoGraphicZoom" id="cyoGraphicZoom" value="" />

            <!-- Screen resolution info -->
            <input type="hidden" name="cyoPixelsPerInch" id="cyoPixelsPerInch" value="0" />
        }

    </div>


