@{
    Layout = "";

    Html.AddScriptParts("~/Scripts/Custom/cyo/spectrum.js");
    Html.AddScriptParts("~/Scripts/fileuploader.js");    
    Html.AddScriptParts("~/Scripts/Custom/cyo/cyo.js");
    
    Html.AddCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css");
    Html.AddCssFileParts("~/Content/Custom/cyo/spectrum.css");
    Html.AddCssFileParts("~/Content/fileuploader/fileuploader.css");
    Html.AddCssFileParts("~/Content/Custom/cyo/cyo.css");
    
    
}

  	<div id="cyoSample">
        <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white.png"/>
        <div id="cyoOverlayStockImage" style="display:none;"><div class="cyoImgContainer"></div></div>
        <div id="cyoOverlayText1" style="display:none; font-family: 'ABeeZee';"><div id="cyoTextContent1"></div></div>
        <div id="cyoOverlayText2" style="display:none; font-family: 'ABeeZee';"><div id="cyoTextContent2"></div></div>
    </div>


    <div id="cyoCustomizer">
        <h2 class="cyo-h2">Step 1: Choose A Brand</h2>
               
            <input type="radio" name="brand" id="brandBooginhead" value="booginhead" checked="checked">
            <label for="brandBooginhead">Booginhead</label>

            <input type="radio" name="brand" id="brandNuk" value="nuk">
            <label for="brandNuk">NUK</label>

        <h2 class="cyo-h2">Step 2: Choose A Color</h2>
        <section class="shields" id="binkiesBooginhead">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white_thumb.jpg" data-shield="white" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_white.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_pink_thumb.jpg" data-shield="pink" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_pink.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_blue_thumb.jpg" data-shield="blue" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_blue.png">
        </section>
        <section class="shields" id="binkiesNuk">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_pink_thumb.jpg" data-shield="pink" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_pink.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_blue_thumb.jpg" data-shield="blue" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_blue.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white_thumb.jpg" data-shield="white" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_white.png">
        </section>


        <h2 class="cyo-h2">Step 3: Choose A Size</h2>
               
            <input type="radio" name="size" id="p6" value="7plus" checked="checked">
            <label for="p6">6+ Months</label>

            <input type="radio" name="size" id="u6" value="0-6">
            <label for="u6">0-6 Months</label>
                

        <h2 class="cyo-h2">Step 4: Design Custom Pacifier</h2>

        <div id="cyoLaunchButtonContainer">
            <div class="cyoButtonContainer" id="cyoSelectBackgroundContainer">
                <button id="btnShowModalBackground">Select Background</button> 
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear background image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoUploadImageContainer">
                <button id="btnShowModalUpload">Upload Image</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear uploaded image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddGraphicContainer">
                <button id="btnShowModalGraphic">Add Graphic</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear graphic"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddTextContainer1">
                <button id="btnShowModalText1">Add Text Line 1</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick"  title="Clear text"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddTextContainer2">
                <button id="btnShowModalText2">Add Text Line 2</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick"  title="Clear text"></span>
            </div>
        </div>

        <div id="cyoModalBackground" title="Choose a solid color or background image">
            <input type="hidden" autofocus="autofocus" /> <!-- jQuery dialog autofocus fix -->
            <section style="width:30%;float:left;">
                <h3>Solid Color</h3>
                <input type="color" id="cyoBackgroundColorControl" name="cyoBackgroundColorControl">
                <div class="modal-close-button">
                    <button id="btnHideModalBackground">OK</button>
                </div>
            </section>
            <section class="chooser" style="width:60%;float:right;">
                <h3>Background Image</h3>
                <img src="http://booginhead.com/products/pacitool/img/preset/America_thumb.jpg" title="America">
                <img src="http://booginhead.com/products/pacitool/img/preset/BritishFlag_thumb.jpg" title="British Flag">
                <img src="http://booginhead.com/products/pacitool/img/preset/Blue_plaid_banner_thumb.jpg" title="Blue Plaid Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Brown_Stars_thumb.jpg" title="Brown Stars">
                <img src="http://booginhead.com/products/pacitool/img/preset/Green_Star_Banner_thumb.jpg" title="Green Star Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Houndstooth_Blue_thumb.jpg" title="Blue Houndstooth">
                <img src="http://booginhead.com/products/pacitool/img/preset/Houndstooth_Pink_thumb.jpg" title="Pink Houndstooth">
                <img src="http://booginhead.com/products/pacitool/img/preset/Pink_Dot_Banner_thumb.jpg" title="Pink Dot Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Purple_Dot_Banner_thumb.jpg" title="Purple Dot Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/purple_plaid_thumb.jpg" title="Purple Plaid">
                <img src="http://booginhead.com/products/pacitool/img/preset/Burberry_Plaid_Banner_thumb.jpg" title="Burberry Plaid Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/pink_flower_thumb.jpg" title="Pink Flower">
                <img src="http://booginhead.com/products/pacitool/img/preset/Hearts_thumb.jpg" title="Hearts">
                <img src="http://booginhead.com/products/pacitool/img/preset/big_dots_thumb.jpg" title="Big Dots">
                <img src="http://booginhead.com/products/pacitool/img/preset/Flower_thumb.jpg" title="Flower">
                <img src="http://booginhead.com/products/pacitool/img/preset/giraffe_thumb.jpg" title="Giraffe">
                <img src="http://booginhead.com/products/pacitool/img/preset/zebra_thumb.jpg" title="Zebra">
                <img src="http://booginhead.com/products/pacitool/img/preset/Swirls_thumb.jpg" title="Swirls">
            </section>
        </div>

        <div id="cyoModalUpload" title="Upload Image">
        <p>Choose a photo or graphic from your computer</p>
            <input id="cyoUploadFile" name="cyoUploadFile" type="hidden" />
            <div id="cyoUploader"></div>
            <div id="cyoUploadedImageDiv" style="display:none;" title="Click to add this image to your design">
                <img id="cyoUploadedImageThumbnail" src="" width="200"/>
            </div>

            <label>Image Zoom</label>
            <div id="uploadSizeSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                <a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
            </div>

            <div class="modal-close-button">
                <button id="btnHideModalUpload">OK</button>
            </div>
            <div style="display:none" 
                id="cyoUploadControlSettings"
                data-preview-url="@(Url.RouteUrl(new { controller = "CYO", action = "GetFileUpload", downloadId = Guid.Empty }))"
                data-form-action="@(Url.RouteUrl(new { controller = "CYO", action = "UploadFile" }))"
                data-upload-string="@T("Common.FileUploader.Upload")"
                data-drop-string="@T("Common.FileUploader.DropFiles")"
                data-cancel-string="@T("Common.FileUploader.Cancel")"
                data-failed-string="@T("Common.FileUploader.Failed")"></div>

        </div>

        <div id="cyoModalText" title="Enter Text">
            <div class="control">
                <label>Text</label>
                <input type="text" id="cyoCustomText" name="cyoCustomText" value="">
            </div>

            <div class="control-color">
                <label for="cyoTextColor">Color</label>
                <input type="color" id="cyoTextColor" name="cyoTextColor">
            </div>

            <div class="control">
                <label>Font-Size</label>
                <div id="font-size-slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                    <a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30.23255813953488%;"></a>

                </div>
            </div>

            <div class="control">
                <label>Font</label>
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=ABeeZee:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Finger Paint:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sofadi One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo Black:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ranchers:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Chicle:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium Web:400,700,400italic,700italic">

				<input type="hidden" id="cyoCustomFont" name="cyoCustomFont" />
                <ul id="cyoFontMenu">
                    <li style="font-family:'AbeeZee'" class="selected">ABeeZee</li>
                    <li style="font-family:'Finger Paint'">Finger Paint</li>
                    <li style="font-family:'Sofadi One'">Sofadi One</li>
                    <li style="font-family:'Archivo Black'">Archivo Black</li>
                    <li style="font-family:'Ranchers'">Ranchers</li>
                    <li style="font-family:'Allura'">Allura</li>
                    <li style="font-family:'Chicle'">Chicle</li>
                    <li style="font-family:'Titillium Web'">Titillium Web</li>
                </ul>
            </div>
            <div class="modal-close-button">
                <button id="btnHideModalText">OK</button>
            </div>
        </div>

        <div id="cyoModalGraphic" title="Choose an image">
            <input type="hidden" autofocus="autofocus" /> <!-- jQuery dialog autofocus fix -->
            <section class="chooser">
                <img src="http://booginhead.com/products/pacitool/img/preset/cute_thumb.jpg" title="Cute">
                <img src="http://booginhead.com/products/pacitool/img/preset/mustache1_thumb.jpg" title="Mustache (1)" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/mustache2_thumb.jpg" title="Mustache (2)" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/owl_boy_thumb.jpg" title="Boy Owl" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/owl_girl_thumb.jpg" title="Girl Owl" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/skull_boy_thumb.jpg" title="Boy Skull" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/skull_girl_thumb.jpg" title="Girl Skull" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Bee_boy_thumb.jpg" title="Boy Bee" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/bee_girl_thumb.jpg" title="Girl Bee" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/1stBday_thumb.jpg" title="First Birthday" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/4thJuly_thumb.jpg" title="4th of July" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Class2030_thumb.jpg" title="Class of 2030" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/recycle_thumb.jpg" title="Recycle" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/female_thumb.jpg" title="Female" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/male_thumb.jpg" title="Male" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/ladybug_thumb.jpg" title="Ladybug" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/peppermint_thumb.jpg" title="Peppermint" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/pink-peppermint_thumb.jpg" title="Pink Peppermint" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/HappyHolidays_thumb.jpg" title="Happy Holidays" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Fa_La_La_thumb.jpg" title="Fa La La" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/dreidal_thumb.jpg" title="Dreidal" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Halloween_thumb.jpg" title="Halloween" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Hanukkah_thumb.jpg" title="Hanukkah" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Joy_thumb.jpg" title="Joy" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/MerryXmas_thumb.jpg" title="Merry Xmas" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/Merry_X_mas_Red_thumb.jpg" title="Merry Xmas Red" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/Thanksgiving_thumb.jpg" title="Thanksgiving" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/snowflakes_thumb.jpg" title="Snowflakes" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/snowman_thumb.jpg" title="Snowman" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/new_year_thumb.jpg" title="New Year" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/art_hearts_thumb.jpg" title="Art Hearts" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/heart_banner_thumb.jpg" title="Heart Banner" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/i_love_dad_thumb.jpg" title="I Love Dad" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/i_love_mom_thumb.jpg" title="I Love Mom" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/LOVE_thumb.jpg" title="Love" data-fill-background="true">
                <img src="http://booginhead.com/products/pacitool/img/preset/triheart_thumb.jpg" title="Tri Heart" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/dnd_thumb.jpg" title="DND" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/fragile_thumb.jpg" title="Fragile" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/heaven_sent_thumb.jpg" title="Heaven Sent" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/hi_thumb.jpg" title="Hi" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/icry_thumb.jpg" title="I Cry" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/im_a_boy_thumb.jpg" title="I'm a Boy" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/im_a_girl_thumb.jpg" title="I'm a Girl" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/just_chillin_thumb.jpg" title="Just Chillin" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/milk_junkie_thumb.jpg" title="Milk Junkie" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/mute_button_thumb.jpg" title="Mute Button" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/no_comment_thumb.jpg" title="No Comment" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/no_hablo_thumb.jpg" title="No Hablo" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/ptsa_thumb.jpg" title="PTSA" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/snooze_thumb.jpg" title="Snooze" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/taxdeduction_thumb.jpg" title="Tax Deduction" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/too_cute_thumb.jpg" title="Too Cute" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/volume_control_thumb.jpg" title="Volume Control" data-fill-background="false">
                <img src="http://booginhead.com/products/pacitool/img/preset/whine_connoisseur_thumb.jpg" title="Whine Connoisseur" data-fill-background="false">
            </section>
            <div class="modal-close-button">
                <button id="btnHideModalGraphic">OK</button>
            </div>
        </div> 


        <h2 class="cyo-h2">Step 6: Approve Instant Proof</h2>
        <p>Create your instant proof, and approve it to continue!</p>
        <button id="btn-create-proof">Create Proof</button>

        <h2 class="cyo-h2">Step 7: Add to Cart!</h2>
        <div class="relative">
        <p class="noapproval">Once your "Instant Proof" is approved, you will be able to add your design to the cart!</p>
        <div class="info">
            <p>
                1st Pacifier: <span class="price">$11.95</span><br>
                Each Pacifier after: <span class="price">$5.00</span></p>
            <p></p>
        </div>
        </div>

        <form action="/ADD_THIS_ENDPOINT" method="post" id="product_addtocart_form" enctype="multipart/form-data">
            <input type="hidden" name="cyoBrand" id="cyoBrand" value="booginhead" />
            <input type="hidden" name="cyoImage" id="cyoImage" value="" />
            <input type="hidden" name="cyoUploadedImage" id="cyoUploadedImage" value="" />
            <input type="hidden" name="cyoBgImageZoom" id="cyoBgImageZoom" value="100" />
            <input type="hidden" name="cyoBgImageOffsetX" id="cyoBgImageOffsetX" value="0" />
            <input type="hidden" name="cyoBgImageOffsetY" id="cyoBgImageOffsetY" value="0" />

            <input type="hidden" name="cyoText1" id="cyoText1" value="" />
            <input type="hidden" name="cyoFontFamily1" id="cyoFontFamily1" value="ABeeZee" />
            <input type="hidden" name="cyoFontColor1" id="cyoFontColor1" value="#777777" />
            <input type="hidden" name="cyoFontSize1" id="cyoFontSize1" value="53px" />

            <input type="hidden" name="cyoText2" id="cyoText2" value="" />
            <input type="hidden" name="cyoFontFamily2" id="cyoFontFamily2" value="ABeeZee" />
            <input type="hidden" name="cyoFontColor2" id="cyoFontColor2" value="#777777" />
            <input type="hidden" name="cyoFontSize2" id="cyoFontSize2" value="53px" />

            <input type="hidden" name="cyoProductSize" id="cyoProductSize" value="7plus" />
            <input type="hidden" name="cyoProductColor" id="cyoProductColor" value="white" />
            <input type="hidden" name="cyoBackgroundColor" id="cyoBackgroundColor" value="white" />
            <input type="hidden" name="cyoBackgroundImage" id="cyoBackgroundImage" value="" />
            <input type="hidden" name="cyoGraphic" id="cyoGraphic" value="" />
            <input type="hidden" name="cyoGraphicIsBackground" id="cyoGraphicIsBackground" value="false" />


            <input type="hidden" name="cyoTextTop" id="cyoTextTop" value="" />
            <input type="hidden" name="cyoTextLeft" id="cyoTextLeft" value="" />
            <input type="hidden" name="cyoTextHeight" id="cyoTextHeight" value="" />
            <input type="hidden" name="cyoTextWidth" id="cyoTextWidth" value="" />
            <input type="hidden" name="cyoImageTop" id="cyoImageTop" value="" />
            <input type="hidden" name="cyoImageLeft" id="cyoImageLeft" value="" />
            <input type="hidden" name="cyoImageWidth" id="cyoImageWidth" value="" />
            <input type="hidden" name="cyoImageHeight" id="cyoImageHeight" value="" />
        </form>

    </div>
            

