@{
    Layout = "";
    
    Html.AddScriptParts("~/Scripts/Custom/cyo/cyo.js");
    Html.AddScriptParts("~/Scripts/Custom/cyo/jscolor/jscolor.js");
    Html.AddScriptParts("~/Scripts/fileuploader.js");

    Html.AddCssFileParts("~/Content/fileuploader/fileuploader.css");
    Html.AddCssFileParts("~/Content/jquery-ui-themes/smoothness/jquery-ui-1.10.0.custom.min.css");
    Html.AddCssFileParts("~/Content/Custom/cyo/cyo.css");
    
    
}

  	<div id="cyoSample">
        <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white.png"/>
        <div id="cyoOverlayUploadedImage" style="display:none;"><div class="cyoImgContainer"></div></div>
        <div id="cyoOverlayStockImage" style="display:none;"><div class="cyoImgContainer"></div></div>
        <div id="cyoOverlayText1" style="font-family: 'ABeeZee';"></div>
        <div id="cyoOverlayText2" style="font-family: 'ABeeZee';"></div>
    </div>


    <div id="cyoCustomizer">
        <h2>Step 1: Choose A Color</h2>
        <section class="shields">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_white_thumb.jpg" data-shield="white" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_white.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_pink_thumb.jpg" data-shield="pink" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_pink.png">
            <img src="http://booginhead.com/products/pacitool/img/shield-color/shield_blue_thumb.jpg" data-shield="blue" data-large-image="http://booginhead.com/products/pacitool/img/shield-color/shield_blue.png">
        </section>

        <h2>Step 2: Choose A Size</h2>
               
            <input type="radio" name="size" id="p6" value="7plus" checked="checked">
            <label for="p6">6+ Months</label>

            <input type="radio" name="size" id="u6" value="0-6">
            <label for="u6">0-6 Months</label>
                

        <h2>Step 3: Design Custom Pacifier</h2>

        <div id="cyoLaunchButtonContainer">
            <div class="cyoButtonContainer" id="cyoSelectBackgroundContainer">
                <button id="btnShowModalBackground">Select Background</button> 
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear background image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoUploadImageContainer">
                <button id="btnShowModalUpload">Upload Image</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear uploaded image"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddGraphicContainer">
                <button id="btnShowModalGraphic">Add Graphic</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick" title="Clear graphic"></span>
            </div>
            <div class="cyoButtonContainer" id="cyoAddTextContainer">
                <button id="btnShowModalText">Add Text</button>
                <span class="cyoDisplaySetting" style="display:none"></span>
                <span class="hidden ui-button-icon-primary ui-icon ui-icon-closethick"  title="Clear text"></span>
            </div>
        </div>

        <div id="cyoModalBackground" title="Choose a Background">            
            <section class="chooser">
                <img src="http://booginhead.com/products/pacitool/img/preset/America_thumb.jpg" title="America">
                <img src="http://booginhead.com/products/pacitool/img/preset/BritishFlag_thumb.jpg" title="British Flag">
                <img src="http://booginhead.com/products/pacitool/img/preset/Blue_plaid_banner_thumb.jpg" title="Blue Plaid Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Brown_Stars_thumb.jpg" title="Brown Stars">
                <img src="http://booginhead.com/products/pacitool/img/preset/Green_Star_Banner_thumb.jpg" title="Green Star Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Houndstooth_Blue_thumb.jpg" title="Blue Houndstooth">
                <img src="http://booginhead.com/products/pacitool/img/preset/Houndstooth_Pink_thumb.jpg" title="Pink Houndstooth">
                <img src="http://booginhead.com/products/pacitool/img/preset/Pink_Dot_Banner_thumb.jpg" title="Pink Dot Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/Purple_Dot_Banner_thumb.jpg" title="Purple Dot Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/purple_plaid_thumb.jpg" title="Purple Plaid">
                <img src="http://booginhead.com/products/pacitool/img/preset/Burberry_Plaid_Banner_thumb.jpg" title="Burberry Plaid Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/pink_flower_thumb.jpg" title="Pink Flower">
                <img src="http://booginhead.com/products/pacitool/img/preset/Hearts_thumb.jpg" title="Hearts">
                <img src="http://booginhead.com/products/pacitool/img/preset/big_dots_thumb.jpg" title="Big Dots">
                <img src="http://booginhead.com/products/pacitool/img/preset/Flower_thumb.jpg" title="Flower">
                <img src="http://booginhead.com/products/pacitool/img/preset/giraffe_thumb.jpg" title="Giraffe">
                <img src="http://booginhead.com/products/pacitool/img/preset/zebra_thumb.jpg" title="Zebra">
                <img src="http://booginhead.com/products/pacitool/img/preset/Swirls_thumb.jpg" title="Swirls">
            </section>
        </div>

        <div id="cyoModalUpload" title="Upload Image">
        <p>Choose a photo or graphic from your computer</p>
            <input id="cyoUploadFile" name="cyoUploadFile" type="hidden" />
            <div id="cyoUploader"></div>
            <div id="cyoUploadedImageDiv" style="display:none;">
                <img id="cyoUploadedImageThumbnail" src="" width="200"/>
            </div>
            <script type="text/javascript">
                $(function () {
                    var previewUrl = '@(Url.RouteUrl(new { controller = "CYO", action = "GetFileUpload", downloadId = Guid.Empty }))';
                    var cyoUploader = new qq.FileUploader({
                        element: document.getElementById('cyoUploader'),
                        action: '@(Url.RouteUrl(new { controller = "CYO", action = "UploadFile" }))',
                        onComplete: function (id, fileName, responseJSON) {
                            $("#cyoUploadFile").val(responseJSON.downloadGuid);
                            if (responseJSON.downloadGuid) {
                                var imgUrl = previewUrl.replace('00000000-0000-0000-0000-000000000000', responseJSON.downloadGuid);
                                $('#cyoUploadedImageThumbnail').attr('src', imgUrl);
                                $('#cyoUploadedImageDiv').show();
                                var img = '<img src=\"' + imgUrl + '\">';
                                var imgContainer = $('#cyoOverlayUploadedImage .cyoImgContainer');
                                imgContainer.html(img);
                                var imgElement = $('#cyoOverlayUploadedImage .cyoImgContainer img');
                                imgElement.attr('height', $('#cyoOverlayUploadedImage').height());
                                imgElement.attr('width', $('#cyoOverlayUploadedImage').width());
                                $('#cyoOverlayUploadedImage').show();

                                var settingDiv = $('#cyoUploadImageContainer .cyoDisplaySetting');
                                settingDiv.html($('.qq-upload-file').text());
                                settingDiv.show();
                                $('#cyoUploadImageContainer').find('.ui-icon-closethick').removeClass('hidden').addClass('inline-block');
                            }
                            else if (responseJSON.message) {
                                alert(responseJSON.message);
                            }
                        },
                        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif'],
                        strings: {
                            upload: "@T("Common.FileUploader.Upload")",
                            drop: "@T("Common.FileUploader.DropFiles")",
                            cancel: "@T("Common.FileUploader.Cancel")",
                            failed: "@T("Common.FileUploader.Failed")"
                        }
                    });
                });
            </script>
        </div>

        <div id="cyoModalText" title="Enter Text">
            <div>
                <input type="text" id="cyoCustomText" name="cyoCustomText" value="">
                <input type="button" value="Clear" id="cyoClearText">
            </div>

            <div>
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=ABeeZee:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Finger Paint:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Sofadi One:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Archivo Black:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ranchers:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Allura:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Chicle:400,700,400italic,700italic">
                <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Titillium Web:400,700,400italic,700italic">

                <div>
                    <label for="cyoCustomFont">Font</label>
				    <input type="hidden" id="cyoCustomFont" name="cyoCustomFont" />
                    <ul id="cyoFontMenu">
                        <li style="font-family:'AbeeZee'" class="selected">ABeeZee</li>
                        <li style="font-family:'Finger Paint'">Finger Paint</li>
                        <li style="font-family:'Sofadi One'">Sofadi One</li>
                        <li style="font-family:'Archivo Black'">Archivo Black</li>
                        <li style="font-family:'Ranchers'">Ranchers</li>
                        <li style="font-family:'Allura'">Allura</li>
                        <li style="font-family:'Chicle'">Chicle</li>
                        <li style="font-family:'Titillium Web'">Titillium Web</li>
                    </ul>
                </div>


            </div>

            <div>
                <label for="font-size-slider">Font Size</label>
                <div id="font-size-slider" style="width:200px" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 30.23255813953488%;"></a></div>
            </div>

            <div>
                <label for="cyoCustomColor">Color</label>
                <input id="cyoCustomColor" type="text" name="cyoCustomColor" value="#777777" data-hex="true" class="color""><span id="colorWheel" class="color" style="display: inline-block; cursor: pointer;"><img src="http://www.infabcorp.com/wp-content/themes/infab/images/color.png" style="border: 0px; margin: 0px 0px 0px 3px; vertical-align: text-bottom;"></span>
            </div>
        </div>

        <div id="cyoModalGraphic" title="Choose a Background">
            <section class="chooser">
                <img src="http://booginhead.com/products/pacitool/img/preset/cute_thumb.jpg" title="Cute">
                <img src="http://booginhead.com/products/pacitool/img/preset/mustache1_thumb.jpg" title="Mustache (1)">
                <img src="http://booginhead.com/products/pacitool/img/preset/mustache2_thumb.jpg" title="Mustache (2)">
                <img src="http://booginhead.com/products/pacitool/img/preset/owl_boy_thumb.jpg" title="Boy Owl">
                <img src="http://booginhead.com/products/pacitool/img/preset/owl_girl_thumb.jpg" title="Girl Owl">
                <img src="http://booginhead.com/products/pacitool/img/preset/skull_boy_thumb.jpg" title="Boy Skull">
                <img src="http://booginhead.com/products/pacitool/img/preset/skull_girl_thumb.jpg" title="Girl Skull">
                <img src="http://booginhead.com/products/pacitool/img/preset/Bee_boy_thumb.jpg" title="Boy Bee">
                <img src="http://booginhead.com/products/pacitool/img/preset/bee_girl_thumb.jpg" title="Girl Bee">
                <img src="http://booginhead.com/products/pacitool/img/preset/1stBday_thumb.jpg" title="First Birthday">
                <img src="http://booginhead.com/products/pacitool/img/preset/4thJuly_thumb.jpg" title="4th of July">
                <img src="http://booginhead.com/products/pacitool/img/preset/Class2030_thumb.jpg" title="Class of 2030">
                <img src="http://booginhead.com/products/pacitool/img/preset/recycle_thumb.jpg" title="Recycle">
                <img src="http://booginhead.com/products/pacitool/img/preset/female_thumb.jpg" title="Female">
                <img src="http://booginhead.com/products/pacitool/img/preset/male_thumb.jpg" title="Male">
                <img src="http://booginhead.com/products/pacitool/img/preset/ladybug_thumb.jpg" title="Ladybug">
                <img src="http://booginhead.com/products/pacitool/img/preset/peppermint_thumb.jpg" title="Peppermint">
                <img src="http://booginhead.com/products/pacitool/img/preset/pink-peppermint_thumb.jpg" title="Pink Peppermint">
                <img src="http://booginhead.com/products/pacitool/img/preset/HappyHolidays_thumb.jpg" title="Happy Holidays">
                <img src="http://booginhead.com/products/pacitool/img/preset/Fa_La_La_thumb.jpg" title="Fa La La">
                <img src="http://booginhead.com/products/pacitool/img/preset/dreidal_thumb.jpg" title="Dreidal">
                <img src="http://booginhead.com/products/pacitool/img/preset/Halloween_thumb.jpg" title="Halloween">
                <img src="http://booginhead.com/products/pacitool/img/preset/Hanukkah_thumb.jpg" title="Hanukkah">
                <img src="http://booginhead.com/products/pacitool/img/preset/Joy_thumb.jpg" title="Joy">
                <img src="http://booginhead.com/products/pacitool/img/preset/MerryXmas_thumb.jpg" title="Merry Xmas">
                <img src="http://booginhead.com/products/pacitool/img/preset/Merry_X_mas_Red_thumb.jpg" title="Merry Xmas Red">
                <img src="http://booginhead.com/products/pacitool/img/preset/Thanksgiving_thumb.jpg" title="Thanksgiving">
                <img src="http://booginhead.com/products/pacitool/img/preset/snowflakes_thumb.jpg" title="Snowflakes">
                <img src="http://booginhead.com/products/pacitool/img/preset/snowman_thumb.jpg" title="Snowman">
                <img src="http://booginhead.com/products/pacitool/img/preset/new_year_thumb.jpg" title="New Year">
                <img src="http://booginhead.com/products/pacitool/img/preset/art_hearts_thumb.jpg" title="Art Hearts">
                <img src="http://booginhead.com/products/pacitool/img/preset/heart_banner_thumb.jpg" title="Heart Banner">
                <img src="http://booginhead.com/products/pacitool/img/preset/i_love_dad_thumb.jpg" title="I Love Dad">
                <img src="http://booginhead.com/products/pacitool/img/preset/i_love_mom_thumb.jpg" title="I Love Mom">
                <img src="http://booginhead.com/products/pacitool/img/preset/LOVE_thumb.jpg" title="Love">
                <img src="http://booginhead.com/products/pacitool/img/preset/triheart_thumb.jpg" title="Tri Heart">
                <img src="http://booginhead.com/products/pacitool/img/preset/dnd_thumb.jpg" title="DND">
                <img src="http://booginhead.com/products/pacitool/img/preset/fragile_thumb.jpg" title="Fragile">
                <img src="http://booginhead.com/products/pacitool/img/preset/heaven_sent_thumb.jpg" title="Heaven Sent">
                <img src="http://booginhead.com/products/pacitool/img/preset/hi_thumb.jpg" title="Hi">
                <img src="http://booginhead.com/products/pacitool/img/preset/icry_thumb.jpg" title="I Cry">
                <img src="http://booginhead.com/products/pacitool/img/preset/im_a_boy_thumb.jpg" title="I'm a Boy">
                <img src="http://booginhead.com/products/pacitool/img/preset/im_a_girl_thumb.jpg" title="I'm a Girl">
                <img src="http://booginhead.com/products/pacitool/img/preset/just_chillin_thumb.jpg" title="Just Chillin">
                <img src="http://booginhead.com/products/pacitool/img/preset/milk_junkie_thumb.jpg" title="Milk Junkie">
                <img src="http://booginhead.com/products/pacitool/img/preset/mute_button_thumb.jpg" title="Mute Button">
                <img src="http://booginhead.com/products/pacitool/img/preset/no_comment_thumb.jpg" title="No Comment">
                <img src="http://booginhead.com/products/pacitool/img/preset/no_hablo_thumb.jpg" title="No Hablo">
                <img src="http://booginhead.com/products/pacitool/img/preset/ptsa_thumb.jpg" title="PTSA">
                <img src="http://booginhead.com/products/pacitool/img/preset/snooze_thumb.jpg" title="Snooze">
                <img src="http://booginhead.com/products/pacitool/img/preset/taxdeduction_thumb.jpg" title="Tax Deduction">
                <img src="http://booginhead.com/products/pacitool/img/preset/too_cute_thumb.jpg" title="Too Cute">
                <img src="http://booginhead.com/products/pacitool/img/preset/volume_control_thumb.jpg" title="Volume Control">
                <img src="http://booginhead.com/products/pacitool/img/preset/whine_connoisseur_thumb.jpg" title="Whine Connoisseur">
            </section>
        </div> 


        <h2>Step 5: Approve Instant Proof</h2>
        <p>Create your instant proof, and approve it to continue!</p>
        <button id="btn-create-proof">Create Proof</button>

        <h2>Step 6: Add to Cart!</h2>
        <div class="relative">
        <p class="noapproval">Once your "Instant Proof" is approved, you will be able to add your design to the cart!</p>
        <div class="info">
            <p>
                1st Pacifier: <span class="price">$11.95</span><br>
                Each Pacifier after: <span class="price">$5.00</span></p>
            <p></p>
        </div>
        </div>

        <form action="/ADD_THIS_ENDPOINT" method="post" id="product_addtocart_form" enctype="multipart/form-data">
            <input type="hidden" name="cyoImage" id="cyoImage" value="" />
            <input type="hidden" name="cyoText" id="cyoText" value="" />
            <input type="hidden" name="cyoFontFamily" id="cyoFontFamily" value="ABeeZee" />
            <input type="hidden" name="cyoFontColor" id="cyoFontColor" value="#777777" />
            <input type="hidden" name="cyoFontSize" id="cyoFontSize" value="" />
            <input type="hidden" name="cyoProductSize" id="cyoProductSize" value="7plus" />
            <input type="hidden" name="cyoProductColor" id="cyoProductColor" value="white" />

            <input type="hidden" name="cyoTextTop" id="cyoTextTop" value="" />
            <input type="hidden" name="cyoTextLeft" id="cyoTextLeft" value="" />
            <input type="hidden" name="cyoTextHeight" id="cyoTextHeight" value="" />
            <input type="hidden" name="cyoTextWidth" id="cyoTextWidth" value="" />
            <input type="hidden" name="cyoImageTop" id="cyoImageTop" value="" />
            <input type="hidden" name="cyoImageLeft" id="cyoImageLeft" value="" />
            <input type="hidden" name="cyoImageWidth" id="cyoImageWidth" value="" />
            <input type="hidden" name="cyoImageHeight" id="cyoImageHeight" value="" />
        </form>

    </div>
            

